<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body class=" bg-portfolio-bg-lighter-gray text-portfolio-text-light-gray">

        <div id="popup"></div>
        <div id="normal">
            {{ if eq .Params.Title  "Password"}}
            {{- block "fullpage" .}}{{- end}}
            {{ else}}
            {{- partial "header.html" . -}}
                <main class="min-h-full">
                    {{- block "main" .}}{{- end}}
                </main>
                {{- partial "footer.html" . -}}
            {{ end}}
        </div>

       
        {{- partial "footer-script.html" . -}}
    </body>
</html>