{{ define "main" }}
<section>
    <div class="container flex flex-col gap-12 justify-center items-center h-screen">
      <!-- Display title-->
      
      <!-- Button-->
        <a href="#mywork">
            <button type="button" class="btn">
            See my work <i class="fa-solid fa-arrow-right"></i>
            </button>
        </a>
    </div>
  </section>
  <section id="mywork" class="mt-10">
    <div class="container">
      {{ .Content }}
      {{-  partial "components/project.html" . -}}
    </div>
  </section>
{{ end }}