{{ define "main" }}
<section  class="container py-14 my-14"  >
    <div class=" flex flex-wrap gap-12 justify-center items-center">
      <!-- Disply title-->
      <div class="card max-w-xs">
        <img width="300" src="https://i.imgur.com/aic6GS8.png"/>
        <div class="p-2 ">
          <h4 class="font-bold text-xl 
          leading-tight lg:leading-none ">project Name</h4>
          <p class=" text-sm " >desc</p>
        </div>
      </div>
      <div class="card max-w-xs">
        <img width="300" src="https://i.imgur.com/aic6GS8.png"/>
        <div class="p-2 ">
          <h4 class="font-bold text-xl 
          leading-tight lg:leading-none ">project Name</h4>
          <p class=" text-sm">desc</p>
        </div>

      </div>
      <div class="card max-w-xs">
        <img width="300" src="https://i.imgur.com/aic6GS8.png"/>
        <div class="p-2 ">
          <h4 class="font-bold text-xl 
          leading-tight lg:leading-none ">project Name</h4>
          <p class=" text-sm" >descdescdescdescdescdescdescdescdescdescdescdesc</p>
        </div>
      </div>
    </div>
</section>


  


{{ end }}