<section class="container px-4 py-14 my-14" id="capabilities">
    <div class="flex flex-wrap gap-12 ">
        <h1 class="text-2xl">Capabilities</h1>
        <div class="flex flex-wrap  flex-1">
            <div class="cap-card">
                Figma
            </div>
            <div class="cap-card">
                Information Architecture 
            </div>
            <div class="cap-card">
                Wireframing
            </div>
            <div class="cap-card">
                Prototyping 
            </div>
            <div class="cap-card">
                Fractional Leadership 
            </div>
            <div class="cap-card">
                creativity
            </div>
        </div>
    
      
    </div>
</section>