<div class="flex flex-col-reverse sm:flex-row gap-6 mb-14">
    <div class="w-full sm:w-1/2">
      
        <div class="line-1 mt-10 mb-10"></div>
      <h2 class="text-xl sm:text-3xl font-bold   mb-12">
        OrderIT app
      </h2>
      
      <h3 class="text-base text-bakery-subheading mb-12 word-break">
        {{ .Params.Description }} DescDescrip dmflfsd
        tionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionDescriptionriptionDescriptionDescriptionDescription
      </h3>
      <div class="tag mb-10 text-base flex justify-even" >
        <div class="tag-bar">
            UI/UX
        </div>
        <div class="tag-bar">
            B2B
        </div>
        <div class="tag-bar">
            Wireframing
        </div>
      </div>


        <a   href="javascript:void(0)" onclick="verifyPass('{{ .Permalink }}',1)"><button type="button" class="btn">
          Check it out
          </button>
        </a>
    </div>
    <img src="{{.Params.Cover.image}}" alt="{{.Params.Cover.Alt}}" class="w-full md:object-cover sm:w-1/2">

  </div>