

<section  class="container py-14 my-14" id="project" >
  <div class=" flex flex-wrap gap-12 justify-center items-center">

{{ range first 3 ( where .Site.RegularPages "Type" "posts" ) }}
    <div class="card max-w-xs">
      <img width="300" src="{{.Params.cover}}"/>
      <div class="p-2 ">
        <h4 class="font-bold text-xl 
        leading-tight lg:leading-none "> {{.Params.Title}}</h4>
        <p class=" text-sm " >{{ .Params.Description }} </p>
      </div>
    </div>
{{ end }}

  </div>
  {{ $postCount :=len (where .Site.RegularPages "Type" "posts") }}
  {{ if gt $postCount 3 }}
    <div class="flex justify-end mt-10">
      view all
    </div>
  {{ end }}

</section>
