<footer class="bg-portfolio-bg-darker-gray">
    <div class="container flex flex-col sm:flex-row justify-between gap-y-10 sm:gap-4 py-14">
    <div class="flex-1">
      <!-- Copyright -->
      <h4 class="font-bold mb-4 text-lg">Copyright© {{ .Site.Copyright | default .Site.Title}}</h4>
      <p class="text-sm mb-2"> 
        <span id="js-year"></span> - {{.Site.Params.author}}
      </p>
      <p class="text-sm mb-4">{{.Site.Params.description}}</p>
      
        <div class="text-sm">
          <span id="busuanzi_container_site_uv" class="busuanzi_container_site_uv">
            <i class="fa-solid fa-chart-simple"></i>
            TotalView&nbsp;
            <span id="busuanzi_value_site_pv" class="busuanzi_value_site_pv"></span>
          </span>|
          <span id="busuanzi_container_site_pv" class="busuanzi_container_site_pv">
            <i class="fa-solid fa-eye"></i>
            Visitor&nbsp;
            <span id="busuanzi_value_site_uv" class="busuanzi_value_site_uv"></span>
          </span>
      </div>
    </div>



    <!-- Quick links -->
    <div class="flex-1">
      <h4 class="font-bold mb-4 text-lg">Quick links</h4>
      <ul class="list-none text-sm">
        {{-  partial "components/menu.html" . -}}
      </ul>
    </div>
    <!-- Contact me -->
    <div class="flex-1">        
      <h4 class="font-bold mb-4 text-lg">Contact me</h4>
      <a href="mailto:frygucki@gmail.com?subject=Hello" class="text-sm hover">{{.Site.Params.email}}</a>
      <div class="flex gap-4 mt-4">
      </div>
    </div>
  </div>
</footer>
<button class="scrollToTopBtn showBtn">
    <i class="fa-solid fa-plane-up"></i>
</button>